<h1>About Us</h1>
<div class="content-section">
  <%= @site_content.about_us.html_safe %>
</div>

<h1>Contact Us</h1>
<div class="content-section">
  <%= @site_content.contact_us.html_safe %>
</div>

<h1>Career</h1>
<div class="content-section">
  <%= @site_content.career.html_safe %>
</div>

<h1>General</h1>
<div class="content-section">
  <%= @site_content.general.html_safe %>
</div>
